@import "./_variables.scss"; /* /src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.dropdown-toggle::after{
  all:unset !important;
}
.dropdown-toggle span{
  font-size: 3rem;
}
.btn.show{
  border-color: white !important;
}
.hero{
  background-image: url("/media/image.jpg");
  min-height: 28vh;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50%, 50%;
}
.card{
  border-radius: 1rem;
}
.product{
  aspect-ratio: 1/1;
}
.product_container{
  width:90%;
}
main{
  min-height: calc(100vh - 204px)
}
.form_container{
  width: 90%;
}
input::placeholder{
  color: lightgray !important;
}
.form_button:hover{
  background-color: $primary;
  border-color: $primary;
}
*{
  font-family: $primary-font;
}
h1, h2, h3, h4, .navbar-brand, .heading{
  font-family: $heading-font;
}
@include media-breakpoint-up(md){
  .hero{
    min-height: 35vh;
  }
  .form_container{
    width:80%;
  }
}
@include media-breakpoint-up(lg){
  .hero{
    min-height: 45vh;
  }
  .card{
    height: 100%;
  }
  .form_container{
    width:60%;
  }
}
@include media-breakpoint-up(xl){
  .dropdown-menu{
    all:unset;
    z-index:100;
    list-style: none;
  }
  .hero{
    min-height: 55vh;
  }
  .hero_text_title{
    width:25% !important;
  }
  .form_container{
    width:40%;
  }
  .form_button{
    width:45% !important;
  }
  .form_radio{
    width:45% !important;
  }
}
@include media-breakpoint-up(xxl){
  .hero{
    min-height: 65vh;
  }
  .form_container{
    width:35%;
  }
}